* {
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  /* overflow: hidden; */
}

#logo {
  color: rgb(63, 38, 13);
  font-size: large;
  flex: content;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.nav {
  display: flex;
  gap: 30px;
  /* color: white; */
  font-weight: 600;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  /* box-shadow: 3px beige; */
  /* padding-left: 30px;
  padding-right: 30px; */
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  /* width: 100vw; */
}

.hero-container {
  overflow: hidden;
}

.hero {
  background-image: url('coffee-beans.jpg.webp');
  /* height: 250px; */
  object-fit: cover;
  object-position: bottom;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .hero:hover {
  scale: 1.2;
  transition: 300ms ease-in-out;
} */

.hero-title {
  color: white;
  /* font-size: 40px; */
  font-weight: bold;
  /* padding: 30px; */
  padding-top: 60px;
  pointer-events: none;
}

.hero-subtitle {
  color: white;
  font-size: 20px;
}

.first-article {
  margin: 30px;
  padding: 25px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 3%;
}

.article-title {
  padding-bottom: 10px;
}

.coffee-plant-img {
  width: 280px;
  height: 100px;
  object-fit: cover;
  padding-top: 10px;
}

.first-article:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.first-article::after {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.article-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-around;
}
.footer-links {
  display: grid;
  color: white;
  grid-template-columns: 2 auto auto;
  gap: 10px;
}

.links:hover {
  text-decoration: underline;
  cursor: pointer;
}
.link-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* .focus {
  background-image: ;
} */
